/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /*J-Edits*/

 body {
  background-color: white;
 }

nav {
  height: 64px;
}

.seethru {
  box-shadow: none;
  background-color: rgba(255,255,255,.0);
}

.row .col {
  padding: 0px 0px;
  transition:background-color .2s;
}

.row {
  margin-bottom: 0px;
}

.container .row {
   margin-left: 0.0rem; 
   margin-right: 0.0rem; 
}

.navbar-fixed {
  height: 0px;
}

nav ul li {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #444;
  transition: all .2s;
}

nav ul li:hover {
  border-top: 4px solid white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.heropic {
  height: 100vh;
}

.megatext {
  font-weight: 900;
  font-size: 120px;
  text-shadow: 0px 0px 10px #333;
  margin-bottom: 0px;
}

w {
  color: white;
}

.arrow {
  position: absolute;
  bottom: 10px;
  margin-left: -35px;
}

.imagebox {
  height: 100%;
  width: 100%;
  background-color: black;
}

.ghost {
  color: white;
}

.offwhite-text {
  color: #d6d6d6 !important;
}

.offblack-text {
  color: rgba(0, 0, 0, 0.80);
}

.shadow {
  text-shadow: 0px 0px 10px #333;
}

.wide-container {
  width: 90%;
  max-width: 1500px;
}

.one-unit-high:hover {
  background-color: #ccc;
}


.one-unit-high {
  height: 400px;
}

.smallerbox {
  height: 300px;
}

.jcenter {
  margin:auto;
  max-width: 450px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.no-margin-bot {
  margin-bottom: 0px;
}

.no-margin {
  margin-bottom: 0px;
  margin-top: 0px;
}

.transblack {
  background-color: rgba(0, 0, 0, 0.85098);
}

.no-side-pad {
  padding-left: 0px !important;
  padding-right: 0rem !important;
}

.tall {
  margin-top: 20px;
  margin-bottom:20px;
}

.smaller-text {
  font-size: 1.4rem;
}

.side-margins {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.regtext {
  font-size: 1rem;
}

.button-collapse {
  color: #64B5F6 !important;
}

.logopad {
  margin-top: 4px;
}

.active {
   border-top: 4px solid rgba(100, 181, 246, 1);
}

#live-list li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: rgb(199, 198, 198);
  min-height: 35px;
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0;
}

#live-list li:hover {
  background-color: black;
  color: white;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  transition: all .4s;
}

footer.page-footer .footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width : 992px) {

    .megatext {
  font-size: 12.5vw;
  }

  .arrow {
    bottom: -31vh;
  }

  .wide-container {
    max-width: 999999px;
    width: 100%;
  }

}

/*Tables*/

.col.grid-example {
  position: relative;
  border: 1px solid #eee;
  margin: 0px 0px;
  text-align: center;
  line-height: 1.8rem;
  font-size: 28px;
  background-color: teal;
  color: white;
  padding: 0;
}

 .col.grid-example.black-text {
  line-height: 50px;
}

.set-height {
  height: 100px;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

 .boxshadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
 }

.boxshadow .grid-example:hover {
  background-color: black !important;
  z-index:1000;
  box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  -moz-box-shadow:rgba(0, 0, 0, 0.3) 0 16px 16px 0;
  transition: all .2s;
 }

.teal-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent teal;
}

.orange-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent #ffc107;
}

.blue-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent #42A5F5;
}

@media only screen and (max-width: 1200px) {
  .teal-triangle {
  display: none;
  }

.orange-triangle {
  display: none;
  }

.blue-triangle {
  display: none;
  }

}

/*IMAGES*/

.image-1 {
  background-image: url(../images/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.image-2 {
  background-image: url(../images/pic2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.image-3 {
  background-image: url(../images/pic3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.image-4 {
  background-image: url(../images/pic4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

.image-5 {
  background-image: url(../images/pic5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

 /*End J-Edits*/

nav ul a,
nav .brand-logo {
  color: #fff;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}